.commission-calculation-settings-card-header
{
    background-color: teal
}

.packages-resume-card-header
{
    background-color: cornflowerblue
}

.package-details-card-header
{
    background-color: olive
}